body {
  background-color: #ebe2ec;
  text-align: center;
  padding: 10px;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.container:not:last-child {
  margin-right: 15px;
}

.input {
  border-style: none;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
}

.content__list {
  margin-right: 10px;
}

.content__list li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.country {
  text-align: left;
  margin-top: 10px;
}

.img {
  display: block;
}

.bold {
  font-weight: bold;
}
